.uploadPost-cont {
  display: flex;
  flex-direction: column;
}

.uploadPost-header-cont {
  width: 100%;
  display: flex;
}
.uploadPost-header {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
.uploadPost-content-cont {
  width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.create-new-item-cont {
  width: 335px;
  height: 335px;
  margin: 0 auto;
  border: 1px dashed #d1d9dd;
  border-radius: 16px;
  padding: 10px;
}
.post-right-icon-cont {
  width: 100%;
  display: flex;
  justify-content: right;
}
.post-right-icon {
  width: 86px;
  height: 36px;
  background: #ffffff;
  /* line */
  border: 1px solid #f0f3f4;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-right-icon img {
  width: 13.33px;
  height: 13.33px;
}
.post-right-icon p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;
  margin: 0 5px;
}
.create-new-item-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}
.create-new-item-inner h1 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  cursor: pointer;
  letter-spacing: 0.004em;

  /* Black */
  margin: 10px 0 0 0;
  color: #101419;
}

.create-new-item-inner p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.004em;

  color: #566370;
  margin: 5px 0;
  opacity: 0.5;
}
.location-input-cont {
  margin-top: 20px;
}
.location-label {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 0.004em;
  color: #000000;
}
.input-cont {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  height: 52px;
  background: #ffffff;
  /* line */
  border: 1px solid #f0f3f4;
  border-radius: 10px;
  padding: 0 10px;
}
.input-cont input {
  flex: 1;
  border: none;
  outline: none;
  margin: 0 10px;
  height: 100%;
}
.description-input-cont {
  margin-top: 20px;
}
.description-label {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 0.004em;
  color: #000000;
}
.description-input {
  width: 100%;
  background: #ffffff;
  /* line */
  margin: 10px 0;
  border: 1px solid #f0f3f4;
  border-radius: 10px;
}
.description-input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding-bottom: 80px;
  padding-top: 10px;
  padding-left: 20px;
}

.upload-post-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 20px;
}

.upload-post-back-btn {
  text-decoration: none;
  width: 144px;
  height: 56px;
  background: #f0f3f4;
  border-radius: 14px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* identical to box height */
  /* text secondary */
  color: #566370;
}
.upload-post-upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 56px;
  background: #292d7d;
  border-radius: 14px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 548px) {
  .uploadPost-content-cont {
    width: 500px;
  }
}
@media screen and (max-width: 504px) {
  .uploadPost-content-cont {
    width: 490px;
  }
}

@media screen and (max-width: 496px) {
  .uploadPost-content-cont {
    width: 470px;
  }
}

@media screen and (max-width: 477px) {
  .uploadPost-content-cont {
    width: 450px;
  }
}
@media screen and (max-width: 461px) {
  .uploadPost-content-cont {
    width: 430px;
  }
}

@media screen and (max-width: 436px) {
  .uploadPost-content-cont {
    width: 410px;
  }
}
@media screen and (max-width: 415px) {
  .uploadPost-content-cont {
    width: 390px;
  }
}
@media screen and (max-width: 394px) {
  .uploadPost-content-cont {
    width: 380px;
  }
}
@media screen and (max-width: 386px) {
  .uploadPost-content-cont {
    width: 360px;
  }
}
