.right-bar__wrapper {
  width: 255px;
  display: flex;
  height: 95vh;
  flex-direction: column;
  position: sticky;
  top: 1%;
  margin-top: 29px;

}
.right-bar__wrapper::-webkit-scrollbar {
  display: none;
}
.right-navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload input[type="file"] {
  display: none;
}
.upload-label {
  width: 118px;
  height: 44px;
  border-radius: 44px;
  cursor: pointer;
  background-color: #292d7d1a;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  /* identical to box height */
  color: #292d7d;
  letter-spacing: 0.004em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-profile-img {
  width: 44px;
  height: 44px;
}
.right-profile-img img {
  width: 100%;
}
.right-navbar-icons {
  display: flex;
  align-items: center;
}
.bell-icon {
  text-decoration: none;
  font-size: 23px;
  color: #525252;
  padding: 3px 20px 0 0;
}
.chat-icon {
  color: grey;
}
.contacts-topnfts-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 35px 0 0 0;
}
