.resp-navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.0001px 7px #a8a8a8;
  /* height: 50px; */
  display: none;
  padding: 0 10px;
  padding: 10px 10px;
}
.home-resp-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resp-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.resp-menu a {
  width: 23px;
}

.resp-menu a img {
  width: 100%;
}

.resp-upload input {
  display: none;
}

.resp-upload a {
  text-decoration: none;
  /* position: absolute;
  top: 20%;
  right: 37%; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #292d7d1a;
  font-family: "SF Pro Display" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */
  color: #292d7d;
  letter-spacing: 0.004em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resp-bell-chat {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  width: 15%;
  justify-content: space-between;
}
.resp-bell-chat a {
  width: 20px;
  height: 20px;
  font-size: 25px;
  color: rgb(112, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resp-bell-chat a img {
  width: 100%;
}
.resp-profile-img {
  width: 40px;
  /* height: 40px; */
  text-decoration: none;
}

.resp-profile-img img {
  width: 100% !important;
  margin: 0 auto;
}

@media screen and (max-width: 1055px) {
  .resp-navbar {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 408px) {
  .resp-upload label {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 396px) {
  .resp-menu {
    width: 30%;
  }
  .resp-menu a {
    margin: 0 5px;
  }

  .resp-bell-chat a {
    font-size: 20px;
    padding: 1px;
  }
}

@media screen and (max-width: 384px) {
  .resp-menu a {
    width: 25px;
    /* height: 25px; */
    padding: 0 9px 0 0;
  }
}
