.container {
  width: 100%;
  height: 224px;
  background-image: url("../../assets/Banner.svg");
}

.ProfilePic {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ProfilePic img {
  width: 124px;
  height: 124px;
  border: 2px solid #fff;
  border-radius: 50%;
}
