.left-bar__wrapper {
    width: 255px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 1%;
    margin-top: 29px;
}
.logo a img {
    cursor: pointer;
}
.search-and-logo__wrapper {
    display: flex;
    justify-content: space-between;
}
.search-input {
    width: 201px;
}
.search-input input {
    width: 100%;
    height: 44px;
    border-radius: 44px;
    border: 1px solid #e8eaeb;
    outline: none;
    color: #8a97a3;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 0 10px;
    line-height: 18px;
    font-weight: 200;
}
.search-input input::placeholder{
    color: #c0c6cc;
}

