.profile-header {
  width: 100% !important;
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start !important;
}
.profile {
  width: 100%;
  font-family: "SF Pro Display";
}
.profile-cont {
  display: flex;
  flex-direction: column;
}
