.post-main__wrapper {
    width: 100%;
    margin: 20px 0 0 0 ;
    display: flex;
    flex-direction: column;
}
.post-content {
    margin: 10px 0 0 0;
  
}

.post-header {
    display: flex;
    align-items: center;
}

.post-profile-image {
    width: 44px;
}
.post-profile-image a img {
    width: 100%;
}

.name-and-nick {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}
.post-profile-name{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #101419;
}
.post-profile-nickname{
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #566370;
}
.post-main-img {
    width: 100%;
}
.post-main-img img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

.post-functions {
    display: flex;
    flex-direction: column;
}
.post-icons {
    display: flex;
    justify-content: space-between; 
    padding: 10px 0 0 0 ;
}

.action-icons img  {
    cursor: pointer;
    color: red;
    
}
.comment-icon {
    margin: 0 13px;
    cursor: pointer;
}
.stroke {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}
.comment-sircle{
    position: absolute;

    width: 10px;
    height: 10px;
    top: 0;
    background-color: #000;
    left: 0;
    border-radius: 50%;
}
.likes-counter {
    margin: 10px 0 0 0 ;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    color: #566370;

}
.comment-wrapper  {
    margin: 10px 0;
    position: relative;
    border: 1px solid #F0F3F4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.comment-wrapper input {
    width: 100%;
    border: 0;
    outline: 0;
    height: 52px;
    padding: 0 12px ;
    font-family: 'SF Pro Display';
    border-radius: 20px;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    color: #566370;
   
}
.send-comment {

    margin: 0 20px 0 0;
    cursor: pointer;
}